<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: header"></div>
    <title>Tasks - Ticketing Project</title>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="fragments/menubar :: menuNavBar"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <header class="panel-heading">
                    <h2>Employee Pending Tasks</h2>
                </header>
                <div class="card-body">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                           width="100%">
                        <thead align="center">
                        <tr>
                            <th class="th-">Project</th>
                            <th class="th-sm">Task Subject</th>
                            <th class="th-sm">Assigned Employee</th>
                            <th class="th-sm">Assigned Date</th>
                            <th class="th-sm">Status</th>
                            <th class="th-sm">Action</th>
                        </tr>
                        </thead>
                        <tbody align="center">
                        <tr th:each="task : ${tasks}">
                            <td th:text="${task.project.projectCode +'-'+task.project.projectName}"/>
                            <td th:text="${task.taskSubject}"/>
                            <td th:text="${task.assignedEmployee.firstName +' '+ task.assignedEmployee.lastName}"/>
                            <td th:text="${#temporals.format(task.assignedDate, 'MM/dd/yyyy')}"/>
                            <td th:text="${task.status}"/>
                            <td align="center">
                                <a th:href="@{/employee/tasks/update/{id} (id=${task.id})}"
                                   class="btn btn-rounded btn-primary">
                                    Update
                                </a>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>
