<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Diving to HTML Coding</title>
</head>
<body>

Welcome to Diving to the HTML Coding!!!!
<h1>HTML Code</h1>

<h1 align="center" style="color:blue">Just Text</h1>

<ul>
    <li>MVC</li>
    <li>ORM</li>
    <li>API</li>
</ul>

<a href="https://google.com">Google</a>

<h1></h1>

<table>
    <thead>
    <td>Test1</td>
    <td>Test2</td>
    <td>Test3</td>
    </thead>
    <tr>
        <td>Loop</td>
        <td>Collection</td>
        <td>Stream</td>
    </tr>
    <tr>
        <td>IoC</td>
        <td>DI</td>
        <td>Value</td>
    </tr>
    <tfoot>
    <td>sum1</td>
    <td>sum2</td>
    <td>sum3</td>
    </tfoot>
</table>

<br>
<br>


<label>User Name:</label>
<input type="text" nam="username"><br>
<label>Password:</label>
<input type="text" nam="password"><br>
<label>Enter your comments:</label>
<input type="text" nam="comments"><br>

<br>
<label>Please select your favorite subject:</label>
<input type="radio" name="Spring" value="IoC" checked>IoC
<input type="radio" name="Spring" value="ORM">ORM
<input type="radio" name="Spring" value="VMC">VMC

<br>
<br>
<label>Please select you company:</label>
<input type="checkbox" name="company" value="Bank Of America">BOA
<input type="checkbox" name="company" value="Google">Google
<input type="checkbox" name="company" value="Amazon">Amazon

<br><br>
<label>Select your car</label>
<select name="cars">
    <option value="Honda">Honda</option>
    <option value="Toyota">Toyota</option>
    <option value="Nissan">Nissan</option>
    <option value="Tesla">Tesla</option>
</select>
<br>
<br>
<form>
    <div>
        First name: <input type="text" name="firstName" id="firstName">
    </div>
    <div>
        Last name: <input type="text" name="LastName">
    </div>

</form>

</body>
</html>