<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p th:text="${'First Name: '+ mentor.firstName}"></p>
<p th:text="${'Last Name: '+ mentor.lastName}"></p>
<p th:text="${'Email: '+ mentor.email}"></p>
<p th:text="${'Gender: '+ mentor.gender}"></p>
<p th:text="${'Batch: '+ mentor.batch}"></p>
<p th:text="${'Graduated: '+ mentor.graduated}"></p>
<p th:text="${'Company: '+ mentor.company}"></p>
</body>
</html>