<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/fragments/head :: header"></div>
    <title>Project Status - Ticketing Project</title>
</head>

<body>
<div class="dashboard-main-wrapper">
    <div th:replace="/fragments/header :: header"></div>
    <div th:replace="/fragments/menubar :: menuNavBar"></div>

    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content">
                <header class="panel-heading">
                    <h2>Project List</h2>
                </header>
                <div class="card-body">
                    <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0"
                           width="100%">
                        <thead align="center">
                        <tr>
                            <th class="th-">Project Code</th>
                            <th class="th-sm">Project Name</th>
                            <th class="th-sm">Start / End Date</th>
                            <th class="th-sm">Manager</th>
                            <th class="th-sm">UnFinished/Completed</th>
                            <th class="th-sm">Status</th>
                            <th class="th-sm">Action</th>
                        </tr>
                        </thead>
                        <tbody align="center">
                        <tr th:each="project : ${projects}">
                            <td align="left"
                                th:text="${project.projectCode}"></td>
                            <td align="left" th:text="${project.projectName}"></td>
                            <td th:text="${#temporals.format(project.startDate, 'MM/dd/yyyy') + ' to ' +
                            #temporals.format(project.endDate, 'MM/dd/yyyy')}"></td>
                            <td th:text="${project.assignedManager.firstName + ' ' + project.assignedManager.lastName}"></td>
                            <td th:text="${project.getInCompleteCount() + '/' + project.getCompleteCount()}"></td>
                            <td align="left" th:text="${project.projectStatus.getValue()}"></td>
                            <td align="center">
                                <a th:if="${project.getInCompleteCount() == 0 && project.projectStatus.value != 'Completed'}"
                                   th:href="@{/manager/status/update/{id} (id = ${project.projectCode})}"
                                   class="btn btn-rounded btn-primary">
                                    Complete
                                </a>
                                <a th:if="${project.getInCompleteCount() > 0 || project.projectStatus.value == 'Completed'}"
                                   class="btn btn-rounded btn-primary disabled-button">
                                    Complete
                                </a>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="/fragments/javascript :: js"></div>
</body>
</html>